@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.bla{
  font-family: Arial Black, Arial;
  font-weight: 900;
  font-size:48px;
}
html{
  line-height: 0.7;
   background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c21ede05-b425-49a6-a33b-0c9d9c537f40/d38z382-31ca4b64-fd08-43ea-8ca1-a6bc3491a07b.png/v1/fill/w_800,h_500,q_80,strp/windows_9x_clouds_remake_by_brianmatte_d38z382-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD01MDAiLCJwYXRoIjoiXC9mXC9jMjFlZGUwNS1iNDI1LTQ5YTYtYTMzYi0wYzlkOWM1MzdmNDBcL2QzOHozODItMzFjYTRiNjQtZmQwOC00M2VhLThjYTEtYTZiYzM0OTFhMDdiLnBuZyIsIndpZHRoIjoiPD04MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.50ItsgCN-FkR17Ou3qg0C6O1aWTli7JyaacXqJTIHUk');
  background-repeat: no-repeat;
  background-size: 100%;
}
.lat{
  font-family: 'Lato';
  font-size:36px;
  line-height: 1.2;
  
}
.pro{
  font-family: 'IBM Plex Mono', monospace;
  font-size:36px;
  
}
.cen{
  transform: translate(35%, 50%);
}
